/* Estilo de los ítems del carrusel */
.carousel-item {
  position: relative;
  width: 100%;
  height: 700px; /* Altura del carrusel */
  background-size: cover;
  background-position: center;
}

/* Fondo oscuro para mejorar la legibilidad del texto */
.carousel-item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1); /* Fondo semitransparente */
}

/* Contenedor del texto */
.carousel-caption {
  position: absolute;
  top: 50%; /* Centra verticalmente */
  left: 50%; /* Centra horizontalmente */
  transform: translate(-50%, -50%); /* Ajusta el centro exacto */
  width: 80%; /* Ancho del contenedor de texto */
  max-width: 800px; /* Ancho máximo para evitar que el texto sea demasiado ancho */
  max-height: 220px; /* Altura máxima del contenedor */
  text-align: center;
  padding: 10px; /* Padding reducido */
  background-color: rgba(255, 255, 255, 0.4); /* Fondo semitransparente */
  border-radius: 7px; /* Bordes redondeados */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Sombra suave */
  display: flex;
  flex-direction: column;
  justify-content: center; /* Centra verticalmente */
  align-items: center; /* Centra horizontalmente */
  overflow: hidden; /* Oculta el contenido que exceda la altura máxima */
}

/* Estilo para las etiquetas <h2> */
.carousel-caption h2 {
  font-size: 2.5rem; /* Tamaño del texto */
  font-weight: bold; /* Texto en negrita */
  margin-bottom: 15px; /* Espacio inferior */
  color: #333; /* Color del texto */
}

/* Estilo para las etiquetas <p> */
.carousel-caption p {
  font-size: 1.3rem; /* Tamaño del texto */
  color: #555; /* Color del texto */
  margin: 0; /* Elimina el margen predeterminado */
}

.carousel-caption p.text3 {
  font-size: 1.3rem; /* Tamaño del texto */
  color: #2f2f2f; /* Color del texto */
  margin: 0; /* Elimina el margen predeterminado */
}

/* Estilo para los indicadores del carrusel */
/* Estilo para los indicadores del carrusel */
.carousel-indicators {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 0; /* Elimina el padding predeterminado */
  margin-bottom: 0; /* Elimina el margen inferior predeterminado */
  list-style: none; /* Elimina los estilos de lista */
}

/* Estilo para los puntos de los indicadores */
.carousel-indicators li {
  width: 10px; /* Tamaño de los puntos */
  height: 10px;
  border-radius: 50%; /* Forma circular */
  background-color: #fff; /* Color de los puntos */
  margin: 0 5px; /* Espacio entre los puntos */
  cursor: pointer; /* Cambia el cursor al pasar sobre los puntos */
}

/* Elimina los números generados automáticamente */
.carousel-indicators li::before,
.carousel-indicators li::after {
  content: '' !important;
  display: none !important;
}