<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
    <!-- Indicadores -->
    <ol class="carousel-indicators">
      <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"></li>
      <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"></li>
      <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"></li>
  </ol>
    <!-- Slides -->
    <div class="carousel-inner">
      <div
        class="carousel-item active"
        [ngStyle]="{ 'background-image': 'url(./foto_carrusel1.jpg)'  }"
      >
        <div class="carousel-caption d-none d-md-block">
          <h5>Calidad y Precisión</h5>
          <p>Nuestras estaciones meteorológicas garantizan datos precisos y confiables.</p>
        </div>
      </div>
      <div
        class="carousel-item"
        [ngStyle]="{ 'background-image': 'url(./foto_carrusel2.jpg)' }"
      >
        <div class="carousel-caption d-none d-md-block">
          <h5>Monitoreo en Tiempo Real</h5>
          <p>Obtén acceso instantáneo a la información meteorológica actual.</p>
        </div>
      </div>
      <div
        class="carousel-item"
        [ngStyle]="{ 'background-image': 'url(./foto_carrusel3.jpg)'  }"
      >
        <div class="carousel-caption d-none d-md-block">
          <h5>Soluciones Personalizadas</h5>
          <p>Diseñamos sistemas a la medida de tus necesidades.</p>
        </div>
      </div>
    </div>
    <!-- Controles -->
    <!-- <a
      class="carousel-control-prev"
      href="#carouselExampleIndicators"
      role="button"
      data-bs-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Anterior</span>
    </a>
    <a
      class="carousel-control-next"
      href="#carouselExampleIndicators"
      role="button"
      data-bs-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Siguiente</span>
    </a> -->
  </div>
  
