<app-navbar></app-navbar>
  
<app-carousel></app-carousel>


<!-- Cards de tiendas -->
<div id="tiendas-destacadas" class="titulo-tiendas">
  <p>TIENDAS DESTACADAS</p>
</div>

 
<app-cards></app-cards>


<!-- Search -->
<div class="image-search">
  <div class="filter">
    <h1 class="titulo_search">¿Buscas tu tienda?</h1>
    <p class="texto_search">
      Encuentra todas las tiendas y comercios ecológicos de tu municipio con un solo click.
    </p>
    <div class="button-container">
      <button class="search-button" (click)="goToSearch()">Buscar tienda</button>
    </div>
  </div>
</div>



<!-- Info01 -->

<div class="container info-01">
  <div class="row align-items-center">
    <!-- Columna para el texto -->
    <div class="col-md-6 bloque-texto">
      <h3 class="subtitulo-buscador">Encuentra tiendas ecológicas con ekoTown.</h3> 
      <p>Con ekoTown, tienes la oportunidad de localizar tiendas orgánicas, productos sostenibles y espacios de comercio justo, ya sea cerca de ti o en tu próximo destino. Esta herramienta te permite encontrar todo lo que necesitas con un solo clic, de manera sencilla, rápida y eficiente.<br><br>
          Explora nuevas opciones para adoptar un estilo de vida más consciente, apoyando iniciativas responsables que promueven el bienestar del planeta. Reduce tu impacto ambiental mientras descubres alternativas que transforman tus hábitos de consumo hacia un futuro más sostenible.<br><br>
          ¡Únete al cambio con ekoTown y marca la diferencia!</p>
    </div>
    
    <!-- Columna para la imagen -->
    <div class="col-md-6 d-flex justify-content-center">
      <img src="buscador.png" alt="Imagen buscador" class="quote-image img-fluid rounded">
    </div>
  </div>
</div>


<!-- CONTADOR DINAMICO -->
<div class="container-fluid contador-dinamico bg-light-green py-4">
  <div class="row text-center counters justify-content-center" id="counterSection">
    <div class="col-md-4 d-flex flex-column align-items-center">
      <h2 class="counter-wrapper">
        <span class="counter" #counterElement1 data-target="425">0</span><span class="plus-symbol">+</span>
      </h2>
      <p>tiendas</p>
    </div>
    <div class="col-md-4 d-flex flex-column align-items-center">
      <h2 class="counter-wrapper">
        <span class="counter" #counterElement2 data-target="8000">0</span><span class="plus-symbol">+</span>
      </h2>
      <p>clientes registrados</p>
    </div>
    <div class="col-md-4 d-flex flex-column align-items-center">
      <h2 class="counter-wrapper">
        <span class="counter" #counterElement3 data-target="25">0</span><span class="plus-symbol">+</span>
      </h2>
      <p>partners</p>
    </div>
  </div>
</div>




<!-- Info02 -->
<div class="container info-02">
  <div class="row align-items-center">
    <!-- Columna para la imagen -->
    <div class="col-md-6 d-flex justify-content-center">
      <img src="ordenador.jpg" class="info-image img-fluid">
    </div>
    <!-- Columna para el texto -->
    <div class="col-md-6 bloque-texto-02">
      <h3>Explora perfiles y productos únicos en ekoTown</h3>
      <p>
        En <strong>ekoTown</strong>, tienes la oportunidad de acceder a los perfiles de cada tienda y descubrir todo lo que tienen para ofrecer. Cada tienda cuenta con un catálogo único, donde puedes explorar una amplia variedad de productos pensados para un consumo más consciente, sostenible y responsable. Además, puedes conocer más sobre la filosofía de cada negocio y su compromiso con el medio ambiente.
      </p>
      <ul class="info-list">
        <li><strong>Encuentra todo tipo de productos:</strong> desde alimentos frescos y orgánicos hasta artículos sostenibles y ecológicos, todo en un solo lugar.</li>
        <li><strong>Comparte tu experiencia:</strong> realiza reseñas de las tiendas, valora sus productos y ayuda a otros usuarios a tomar decisiones más informadas.</li>
      </ul>
    </div>
  </div>
</div>


<!-- Call to action -->
<div class="cta my-5 container">
  <div class="row align-items-center">
    <!-- Contenido del texto -->
    <div class="col-lg-8 col-md-12 px-4 text-lg-start text-center">
      <h2>¡Únete a ekoTown!</h2>
      <p>Suscríbete y sé el primero en descubrir nuestras novedades, ofertas exclusivas y consejos para un estilo de vida más sostenible y respetuoso con el medio ambiente.<br>
        <strong>¡Únete a la comunidad que cuida del planeta!</strong></p>
      <button class="cta-button" (click)="navigateToLoginRegister()">REGISTRO</button>
    </div>
    <!-- Imágenes -->
    <div class="col-lg-4 col-md-12 d-flex flex-column align-items-center mt-4 mt-lg-0">
      <img src="mockup1.png" alt="Imagen 1" class="img-fluid rounded">
    </div>
  </div>
</div>


  
  <!-- Modal para el mensaje de éxito -->
  <div class="modal" *ngIf="showModal">
    <div class="modal-content">
      <div class="modal-header">
        <h2>{{ modalMessage }}</h2>
      </div>
      <div class="modal-body">
        <p>Gracias por tu compra. Te hemos enviado un correo con los detalles.</p>
      </div>
    </div>
  </div>  




<app-testimonials></app-testimonials>

<app-carrusel-logos></app-carrusel-logos>

<app-footer></app-footer>














  
 


