* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Carrusel Styles */
#carouselExampleInterval {
  height: 700px;
  overflow: hidden;
}

.carousel-item img {
  height: 700px;
  object-fit: cover;
  width: 100%;
}

.carousel.carousel-fade .carousel-item {
  transition: opacity 0.9s ease;
}






/* Search */
.image-search {
  position: relative;
  overflow: hidden;
  height: 350px;
  margin: 100px 0;
}

.image-search img {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw; /* Ocupa el ancho completo de la pantalla */
  height: 350px; /* Altura fija */
  object-fit: cover; /* Ajusta la imagen para cubrir toda el área definida */
  z-index: -1; /* Coloca la imagen detrás del contenido */
}

.image-search .titulo_search,
.image-search .texto_search,
.image-search .button-container {
  position: relative;
  z-index: 1; /* Asegura que el texto y botón estén sobre la imagen */
  color: #fff; /* Ajusta el color del texto para que sea legible sobre la imagen */
  text-align: center;
}



.titulo_search {
  color: azure;
  text-align: center;
  padding-top: 2em;
}

.texto_search{
  color: azure;
  text-align: center;
  padding-top: 1em;
}

.button-container {
  text-align: center; /* Centra el contenido dentro de este contenedor */
  margin-top: 20px;  /* Añade un margen superior si lo deseas */
}


/* Info01 */
.info-01 {
  margin-top: 20px;
  margin-bottom: 20px;
  margin: 150px auto;
}

.quote-text {
  font-size: 1.1em;
  line-height: 1.5;
  color: #333;
}

.quote-image {
  max-width: 100%;
  border-radius: 8px;
}

/* Contador dinamico */
.contador-dinamico {
  width: 100%;
  background-color: #b4cd68; /* Color de fondo similar al de la imagen */
}

.counter-wrapper {
  display: inline-flex;
  align-items: center;
}

.counter {
  font-size: 2rem;
  font-weight: bold;
  color: #333;
}

.plus-symbol {
  font-size: 2rem;
  font-weight: bold;
  color: #333;
  margin-left: 5px;
}



/* Info02 */
.info-02 {
  margin-top: 20px;
  margin-bottom: 20px;
  margin: 150px auto;
}

.quote-text {
  font-size: 1.1em;
  line-height: 1.5;
  color: #333;
}

.quote-image {
  max-width: 100%;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}


/* Call to Action */
.cta {
  background: linear-gradient(135deg, #c3d497, #d8e0a0);
  border-radius: 15px;
  padding: 70px 30px 30px; /* Añadir padding en la parte superior en lugar de margin */
  text-align: center;
  max-width: 1200px;
  margin: auto;
  color: #333;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}


.cta-container h2 {
  font-size: 24px;
  font-weight: bold;
  color: #2f2f2f;
  margin-bottom: 10px;
}

.cta-container p {
  font-size: 16px;
  color: #2f2f2f;
  line-height: 1.6;
  margin-bottom: 20px;
}

.cta-button {
  background-color: #6aab83; /* Color verde para el botón */
  color: white;
  font-size: 16px;
  padding: 10px 20px;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.cta-button:hover {
  background-color: #589b6c; /* Color más oscuro al hacer hover */
}

/* Info03 */
.info-03 {
  margin-top: 20px;
  margin-bottom: 20px;
  margin: 150px auto;
}

.quote-text {
  font-size: 1.1em;
  line-height: 1.5;
  color: #333;
}

.quote-image {
  max-width: 100%;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}





