
/* Velocidad de trnsicion entre las fotos */
.carousel-fade .carousel-item {
    transition: opacity 6s ease; /* Cambia "2s" por el valor que prefieras */
  }

  .carousel,
.carousel-item {
  height: 100vh; /* La altura de todo el carrusel será del 100% de la ventana */
}


.carousel {
  position: relative; /* Mantén la posición relativa */
  z-index: 1; /* Asegúrate de que sea menor que el navbar */
}

.carousel-item img {
  width: 100%; /* Asegúrate de que las imágenes ocupen todo el ancho */
  height: auto; /* Mantiene la proporción de las imágenes */
} 




/* Estilos Cards tiendas */

/* Estilos para la imagen del gerente */
.foto_gerente img {
  width: 50px; /* Define el ancho de la imagen del gerente */
  height: 50px; /* Define la altura de la imagen del gerente */
  border-radius: 50%; /* Hace que la imagen del gerente sea completamente redonda */
  object-fit: cover; /* Asegura que la imagen se recorte si es más grande que el contenedor */
  display: block; /* Asegura que se muestre como un bloque y sin margen */
}

/* Estilos para la imagen principal de la tarjeta */
mat-card img {
  width: 100%; /* Ocupa todo el ancho del card */
  height: 200px; /* Ajusta la altura deseada */
  object-fit: cover; /* Asegura que la imagen se recorte para llenar el área sin distorsionar */
}

/* Contenedor de tarjetas */
.card-container {
  display: flex;
  align-content: flex-start; /* Para espaciar las tarjetas */
  justify-content: space-evenly;
  flex-wrap: wrap; /* Permitir que las tarjetas se muevan a la siguiente línea si es necesario */
  gap: 20px; /* Espacio entre las tarjetas */
}

/* Estilos de cada tarjeta */
.example-card {
  display: flex; /* Asegura que la tarjeta use flexbox */
  flex-direction: column; /* Apila los elementos en columna */
  flex: 0 1 300px; /* Ocupa al menos 300px de ancho */
  max-width: 300px; /* Limitar el ancho máximo */
  height: 400px; /* Ajusta la altura deseada para todas las tarjetas */
  margin: 40px 0; /* Espaciado superior e inferior */
}

/* Asegura que el contenido de las tarjetas se mantenga dentro del tamaño establecido */
.example-card mat-card-content {
  flex-grow: 1; /* Permite que el contenido ocupe el espacio disponible */
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Espacia el contenido dentro de la tarjeta */
}



/* Search */

.image-search {
  background-image: url("https://images.pexels.com/photos/10183613/pexels-photo-10183613.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center calc(100px);
  height: 20em; /* La imagen ocupará el 60% de la ventana */
}

.titulo_search {
  color: azure;
  text-align: center;
  padding-top: 2em;
}

.texto_search{
  color: azure;
  text-align: center;
  padding-top: 1em;
}

.button-container {
  text-align: center; /* Centra el contenido dentro de este contenedor */
  margin-top: 20px;  /* Añade un margen superior si lo deseas */
}






