<footer>
    <div class="footer-links">
      <a routerLink="/">Inicio</a>
      <a routerLink="/destacados">Destacados</a>
      <a routerLink="/buscador">Buscador</a>
      <a routerLink="/servicios">Servicios</a>
      <a routerLink="/blog">Blog</a>
  
      <!-- Dropdown Más -->
      <div class="dropdown">
        <button class="dropdown-toggle">Más</button>
        <div class="dropdown-menu">
          <a routerLink="/nosotros">Nosotros</a>
          <a routerLink="/contacto">Contacto</a>
        </div>
      </div>
    </div>
  </footer>
  