<nav
  class="navbar navbar-expand-lg"
  [ngClass]="{'scrolled': isScrolled}"
  [ngStyle]="{'--opacity': opacity, '--blur-amount': blurAmount + 'px', '--gap-size': gapSize + 'px'}"
>
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-center" id="navbarNavDropdown">
      <div class="mensaje-bienvenida">
        <p *ngIf="userName; else noUser">Bienvenido, {{ userName }}</p>
        <ng-template #noUser>
          <p>Bienvenido/a a ekoTown</p>
        </ng-template>
      </div>
      
      <ul class="navbar-nav mx-auto">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="#">INICIO</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="scrollToFeatured()">DESTACADOS</a>
        </li>
            

        <!-- Imagen de separación entre BUSCADOR y SERVICIOS -->
        <li class="nav-item ekotown-logo">
          <a (click)="navigateToTop()">
            <img
              [src]="isScrolled ? 'ekotownLogoWhite.png' : 'ekotownLogo.png'"
              alt="Logo"
            />
          </a>
        </li>        
        
        

        <li class="nav-item">
          <a class="nav-link" routerLink="/search">BUSCADOR</a>
        </li>
        
        <li class="nav-item">
          <a class="nav-link" routerLink="/blogs/public">BLOG</a>
        </li>
        
        <!-- <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            MAS
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">NOSOTROS</a></li>
            <li><a class="dropdown-item" href="#">CONTACTO</a></li>
          </ul>
        </li> -->
      </ul>
      
      <!-- Imagen con submenú activado por clic -->
      <div class="navbar-icons">
        <div class="dropdown">
          <a class="nav-link" (click)="toggleDropdown()" aria-expanded="false">
            <img src="accesoNegro.png" alt="Acceso Negro" class="acceso-default" width="30" height="30">
            <img src="accesoBlanco.png" alt="Acceso Blanco" class="acceso-white" width="30" height="30">
          </a>
        
          <!-- Submenú que se muestra según el estado de showDropdown -->
          <ul class="dropdown-menu" [ngClass]="{'show': showDropdown}">
            <li>
              <a class="dropdown-item" routerLink="/loginregister">Iniciar sesión</a>
            </li>
            <li>
              <a 
                class="dropdown-item" 
                [ngClass]="{'disabled': !isLoggedIn}" 
                aria-disabled="true" 
                (click)="isLoggedIn && logout()">
                Cerrar sesión
              </a>
            </li>
            <li>
              <a 
                class="dropdown-item" 
                [ngClass]="{'disabled': !isLoggedIn}" 
                aria-disabled="true" 
                (click)="isLoggedIn && goToAreaPersonal()">
                Área personal
              </a>
            </li>
          </ul>
        </div>
        
      
        <a [routerLink]="'/carrito'" class="navbar-brand carrito-logo">
          <img src="carrito_negro.png" alt="Carrito Negro" class="carrito-default" width="30" height="30">
          <img src="carrito_blanco.png" alt="Carrito Blanco" class="carrito-white" width="30" height="30">
        </a>
      </div>
    </div>  
  </div>
</nav>
