.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    background-color: rgba(0, 0, 0, var(--opacity, 0)); /* Fondo con opacidad variable */
    backdrop-filter: blur(var(--blur-amount, 0px)); /* Efecto borroso variable */
    -webkit-backdrop-filter: blur(var(--blur-amount, 0px)); /* Compatibilidad con Safari */
    transition: background-color 0.3s ease, backdrop-filter 0.3s ease; /* Suaviza la transición */
    height: 80px; /* Altura del navbar */
  }
  
  .navbar-nav {
    display: flex;
    align-items: center;
    gap: var(--gap-size, 70px); /* Aplica el gap dinámico */
  }
  
  /* Otros estilos */
  .nav-item {
    list-style: none;
  }
  
  .nav-link {
    color: rgb(0, 0, 0);
  }
  
  .navbar .nav-link {
    color: white; /* Color inicial del texto */
  }
  
  .navbar .nav-link:hover {
    color: #f8f9fa;
  }
  