<nav
  class="navbar navbar-expand-lg"
  [ngClass]="{'scrolled': isScrolled}"
  [ngStyle]="{'--opacity': opacity, '--blur-amount': blurAmount + 'px', '--gap-size': gapSize + 'px'}"
>
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-center" id="navbarNavDropdown">
      <div class="mensaje-bienvenida">
        <p *ngIf="userName; else noUser">Bienvenido, {{ userName }}</p>
        <ng-template #noUser>
          <p>Bienvenido a ekoTown</p>
        </ng-template>
      </div>
      
      <ul class="navbar-nav mx-auto">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="#">INICIO</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">DESTACADOS</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">BUSCADOR</a>
        </li>
        
        <!-- Imagen de separación entre BUSCADOR y SERVICIOS -->
        <li class="nav-item plant-icon">
          <img src="plant.png" alt="Plant Icon" width="30" height="24">
        </li>
        
        <li class="nav-item">
          <a class="nav-link" href="#">SERVICIOS</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">BLOG</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            MAS
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">NOSOTROS</a></li>
            <li><a class="dropdown-item" href="#">CONTACTO</a></li>
          </ul>
        </li>
      </ul>
      
      <!-- Imagen con submenú activado por clic -->
      <div class="dropdown">
        <a class="nav-link" (click)="toggleDropdown()" aria-expanded="false">
          <img src="acceso.png" alt="Acceso" width="30" height="30" class="d-inline-block align-text-top">
        </a>
      
        <!-- Submenú que se muestra según el estado de showDropdown -->
        <ul class="dropdown-menu" [ngClass]="{'show': showDropdown}">
          <!-- Opción de Iniciar sesión siempre habilitada -->
          <li>
            <a class="dropdown-item" routerLink="/loginregister">Iniciar sesión</a>
          </li>
        
          <!-- Opción de Cerrar sesión deshabilitada si no hay sesión -->
          <li>
            <a 
              class="dropdown-item" 
              [ngClass]="{'disabled': !isLoggedIn}" 
              aria-disabled="true" 
              (click)="isLoggedIn && logout()">
              Cerrar sesión
            </a>
          </li>
        
          <!-- Opción de Área personal deshabilitada si no hay sesión -->
          <li>
            <a 
              class="dropdown-item" 
              [ngClass]="{'disabled': !isLoggedIn}" 
              aria-disabled="true" 
              (click)="isLoggedIn && goToAreaPersonal()">
              Área personal
            </a>
          </li>
        </ul>
        
      </div>
      
      <a [routerLink]="'/carrito'" class="navbar-brand ms-3">
        <img src="carrito_blanco.png" alt="Carrito" width="30" height="30" class="d-inline-block align-text-top">
      </a>            
    </div>
  </div>
</nav>
