body {
  align-items: center;
  background: #ffff;
  display: flex;
  height: 100vh;
  justify-content: center;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-300px * 8)); /* Ajusta el desplazamiento según el número de imágenes */
  }
}

.slider {
  background: white;
  height: 250px;
  margin: 50px 0;
  overflow: hidden;
  position: relative;
  width: 100%;
  z-index: 1000;
}

.slider .slide-track {
  animation: scroll 50s linear infinite;
  display: flex;
  width: calc(300px * 18); /* Ajusta el ancho total según el número de imágenes duplicadas */
  z-index: 1000;
}

.slider .slide {
  height: 250px;
  width: 240px;  /* Aumentamos el ancho del contenedor */
  display: flex;
  justify-content: center;  /* Centra la imagen horizontalmente */
  align-items: center;  /* Centra la imagen verticalmente */
}

.slide img {
  height: 60%;
  width: 60%;
  object-fit: contain; /* Mantiene la relación de aspecto de la imagen */
}
