.card-producto {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 300px; /* Ajustar el ancho máximo de la tarjeta */
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.2s, box-shadow 0.2s;
}

.card-producto:hover {
  transform: scale(1.02);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}

.producto-imagen {
  width: 100%; /* Asegura que ocupe el ancho de su contenedor */
  max-width: 150px; /* Tamaño máximo para la imagen */
  height: auto; /* Mantiene la proporción */
  object-fit: contain; /* Ajusta el contenido dentro del tamaño */
  margin: 10px 0; /* Espaciado entre la imagen y los detalles */
  border: 1px solid #ddd; /* Añadir borde ligero */
  border-radius: 8px; /* Opcional: bordes redondeados */
}

.producto-detalles {
  text-align: center; /* Centrar el texto */
  padding: 10px;
}

.producto-detalles h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 10px 0;
  color: #333;
}

.producto-detalles .categoria,
.producto-detalles .descripcion,
.producto-detalles .precio {
  font-size: 14px;
  color: #555;
  margin: 5px 0;
}

.producto-detalles .precio {
  font-weight: bold;
  color: #1e88e5;
}


.mensaje-alerta {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(255, 0, 0, 0.8);
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  font-size: 14px;
  animation: fadeInOut 3s ease-in-out;
}

@keyframes fadeInOut {
  0%, 80% { opacity: 1; }
  100% { opacity: 0; }
}
