<section class="testimonials-section">
  <div class="testimonials-header">
    <h2 class="section-title">Lo que dicen de ekoTown</h2>
  </div>
  <div class="testimonials-container-wrapper" #containerWrapper>
    <div class="testimonials-container">
      <div class="testimonial-card" *ngFor="let testimonial of testimonials">
        <div class="testimonial-header">
          <img [src]="testimonial.photo" alt="{{ testimonial.name }}" class="testimonial-avatar" />
          <div class="testimonial-content">
            <h3 class="testimonial-name">{{ testimonial.name }}</h3>
            <p class="testimonial-role">{{ testimonial.role }}</p>
          </div>
        </div>
        <div class="testimonial-text-container">
          <p class="testimonial-text">{{ testimonial.text }}</p>
        </div>
      </div>
    </div>
    <div class="fade-effect" *ngIf="!showAll"></div>
  </div>
  <button class="load-more-button" (click)="toggleShowAll()">
    {{ showAll ? 'Mostrar menos historias' : 'Leer más historias' }}
  </button>
</section>